@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
}

.container {
    background-color: #fafafa;
    max-width: 100vw;
    transform-origin: top left;
    transition: transform 0.5s linear;
    min-height: 100vh;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: translate(-100px, -100px);

}

.circle-btns {
    transform: translate(110px, 120px);
    display: flex;
    flex-direction: column;
    width: 50px;
    background: transparent;
    position: relative;
}

.circle-btns #open {
    color: #fafafa;
}

.circle-btns #open:hover {
    cursor: pointer;
}

.circle-btns #close {
    transform: translate(-30px, 0px);
    color: #fafafa;
}

.circle-btns #close:hover {
    cursor: pointer;
}

.circle-btns button {
    background: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
}

.content {
    transform: translate(50px, -120px);
    margin-right: 100px;
    text-align: justify;
}

.content h1 {
    margin-bottom: 5px;
}

.content img {
    max-width: 100%;
}

nav {
    position: fixed;
    bottom: 200px;
    left: 40px;
    /* z-index: 100; */
}

nav ul {
    list-style-type: none;
}

nav ul li{
    color: #fff;
    padding: 30px;
    font-size: 22px;
    text-transform: uppercase;
    transform: translateX(-150%);
    transition: transform 0.4s ease-in;
}


nav ul li+li {
    margin-left: 25px;
}

nav ul li+li+li {
    margin-left: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: #FF7979;
    font-weight: bold;
}